Repository jens-maus/RaspberryMatic, pull requests merged in 2019-07, with the labels that each got.

#661 0059-WebUI-KeepProgramActiveState
  buildroot-external/patches/occu/0059-WebUI-KeepProgramActiveState.patch
  buildroot-external/patches/occu/0059-WebUI-KeepProgramActiveState/occu/WebUI/www/rega/esp/programs.fn
  buildroot-external/patches/occu/0059-WebUI-KeepProgramActiveState/occu/WebUI/www/rega/esp/programs.fn.orig
Labels: :bug: bug, :label: WebUI

#675 enhancements for 0057-WebUI-ImprovedDutyCycleDisplay
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/rega/pages/tabs/startpage.htm
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/webui/webui.js
Labels: :bulb: enhancement, :label: WebUI, :seedling: minor

#663 show menu entries sorted by name
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuCreateDiagram.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuCreateGroups.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuDeviceFirmwareInformation.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuDeviceInbox.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuDevices.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuDiagramListPage.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuDirectLinks.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuFavorites.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuFunction.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuPrograms.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuProgramsLinks.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuRooms.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuSysControl.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuSysProtocol.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuSysVar.png
  buildroot-external/overlay/WebUI-raspmatic/www/ise/img/menuicons/submenuUserManagement.png
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons.patch
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/config/help.cgi
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/config/help.cgi.orig
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/rega/pages/tabs/admin/systemconfig.htm
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/rega/pages/tabs/admin/systemconfig.htm.orig
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/rega/pages/tabs/control.htm
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/rega/pages/tabs/control.htm.orig
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/rega/pages/tabs/user/systemConfigUser.htm
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/rega/pages/tabs/user/systemConfigUser.htm.orig
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/webui/js/mainmenu/admin.js
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/webui/js/mainmenu/admin.js.orig
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/webui/js/mainmenu/user.js
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/webui/js/mainmenu/user.js.orig
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0061-WebUI-MenuSortedIcons/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement, :label: WebUI, :low_brightness: low priority

#665 show favorite list on startpage dropdown menu sorted by name
  buildroot-external/patches/occu/0062-WebUI-Fix-SortFavoritesCombobox.patch
  buildroot-external/patches/occu/0062-WebUI-Fix-SortFavoritesCombobox/occu/WebUI/www/rega/pages/startpage.htm
  buildroot-external/patches/occu/0062-WebUI-Fix-SortFavoritesCombobox/occu/WebUI/www/rega/pages/startpage.htm.orig
Labels: :bulb: enhancement, :label: WebUI
