Repository jens-maus/RaspberryMatic, pull requests merged in 2020-12, with the labels that each got.

#1000 add up/down buttons in user sysvar table to manually change the order
  buildroot-external/patches/occu/0095-WebUI-userSysVarTblMoveUpDown.patch
  buildroot-external/patches/occu/0095-WebUI-userSysVarTblMoveUpDown/occu/WebUI/www/rega/esp/system.fn
  buildroot-external/patches/occu/0095-WebUI-userSysVarTblMoveUpDown/occu/WebUI/www/rega/esp/system.fn.orig
  buildroot-external/patches/occu/0095-WebUI-userSysVarTblMoveUpDown/occu/WebUI/www/rega/esp/system.htm
  buildroot-external/patches/occu/0095-WebUI-userSysVarTblMoveUpDown/occu/WebUI/www/rega/esp/system.htm.orig
  buildroot-external/patches/occu/0095-WebUI-userSysVarTblMoveUpDown/occu/WebUI/www/webui/style.css
  buildroot-external/patches/occu/0095-WebUI-userSysVarTblMoveUpDown/occu/WebUI/www/webui/style.css.orig
  buildroot-external/patches/occu/0095-WebUI-userSysVarTblMoveUpDown/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0095-WebUI-userSysVarTblMoveUpDown/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#1020 Feature/0099 web UI add device rename all channels
  buildroot-external/patches/occu/0099-WebUI-Add-DeviceRenameAllChannels.patch
  buildroot-external/patches/occu/0099-WebUI-Add-DeviceRenameAllChannels/occu/WebUI/www/webui/js/lang/de/translate.lang.extension.js
  buildroot-external/patches/occu/0099-WebUI-Add-DeviceRenameAllChannels/occu/WebUI/www/webui/js/lang/de/translate.lang.extension.js.orig
  buildroot-external/patches/occu/0099-WebUI-Add-DeviceRenameAllChannels/occu/WebUI/www/webui/style.css
  buildroot-external/patches/occu/0099-WebUI-Add-DeviceRenameAllChannels/occu/WebUI/www/webui/style.css.orig
  buildroot-external/patches/occu/0099-WebUI-Add-DeviceRenameAllChannels/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0099-WebUI-Add-DeviceRenameAllChannels/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#1021 Fixed creation of default sysvars in case no radio module was connect…
  buildroot-external/patches/occu/0072-WebUI-Fix-hm_autoconf.patch
  buildroot-external/patches/occu/0072-WebUI-Fix-hm_autoconf/occu/WebUI/bin/hm_autoconf
  buildroot-external/patches/occu/0072-WebUI-Fix-hm_autoconf/occu/WebUI/bin/hm_startup
  buildroot-external/patches/occu/0072-WebUI-Fix-hm_autoconf/occu/WebUI/bin/hm_startup.orig
Labels: :bug: bug-report, :label: ReGaHss, :thumbsup: important

#1027 add patch
  buildroot-external/patches/occu/0100-WebUI-Fix-CreateDirectLink-GroupDescription-Translation.patch
  buildroot-external/patches/occu/0100-WebUI-Fix-CreateDirectLink-GroupDescription-Translation/occu/WebUI/www/config/ic_selchannel.cgi
  buildroot-external/patches/occu/0100-WebUI-Fix-CreateDirectLink-GroupDescription-Translation/occu/WebUI/www/config/ic_selchannel.cgi.orig
Labels: :bug: bug-report, :label: WebUI

#1031 further style improvements for 0099-WebUI-Add-DeviceRenameAllChannels
  buildroot-external/patches/occu/0099-WebUI-Add-DeviceRenameAllChannels.patch
  buildroot-external/patches/occu/0099-WebUI-Add-DeviceRenameAllChannels/occu/WebUI/www/webui/js/lang/de/translate.lang.extension.js
  buildroot-external/patches/occu/0099-WebUI-Add-DeviceRenameAllChannels/occu/WebUI/www/webui/style.css
  buildroot-external/patches/occu/0099-WebUI-Add-DeviceRenameAllChannels/occu/WebUI/www/webui/webui.js
Labels: :bulb: enhancement-ideas, :label: WebUI

#1038 add patch 0102-WebUI-Fix-TrailingNewLineInFirewallIPTextarea
  buildroot-external/patches/occu/0102-WebUI-Fix-TrailingNewLineInFirewallIPTextarea.patch
  buildroot-external/patches/occu/0102-WebUI-Fix-TrailingNewLineInFirewallIPTextarea/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0102-WebUI-Fix-TrailingNewLineInFirewallIPTextarea/occu/WebUI/www/webui/webui.js.orig
Labels: :bug: bug-report, :label: WebUI

#1039 add patch 0103-WebUI-Fix-function.fn
  buildroot-external/patches/occu/0103-WebUI-Fix-function.fn.patch
  buildroot-external/patches/occu/0103-WebUI-Fix-function.fn/occu/WebUI/www/rega/pages/tabs/control/function.fn
  buildroot-external/patches/occu/0103-WebUI-Fix-function.fn/occu/WebUI/www/rega/pages/tabs/control/function.fn.orig
Labels: :bug: bug-report, :label: WebUI

#1040 add patch 0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0.patch
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/api/methods/device/get.tcl
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/api/methods/device/get.tcl.orig
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/api/methods/device/listalldetail.tcl
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/api/methods/device/listalldetail.tcl.orig
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/api/methods/device/listprogramids.tcl
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/api/methods/device/listprogramids.tcl.orig
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/config/stringtable_de.txt
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/config/stringtable_de.txt.orig
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/rega/pages/tabs/admin/views/functionchannels.htm
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/rega/pages/tabs/admin/views/functionchannels.htm.orig
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/rega/pages/tabs/admin/views/functions.htm
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/rega/pages/tabs/admin/views/functions.htm.orig
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/rega/pages/tabs/admin/views/roomchannels.htm
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/rega/pages/tabs/admin/views/roomchannels.htm.orig
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/rega/pages/tabs/admin/views/rooms.htm
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/rega/pages/tabs/admin/views/rooms.htm.orig
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/webui/js/lang/de/translate.lang.stringtable.js
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/webui/js/lang/de/translate.lang.stringtable.js.orig
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/webui/js/lang/en/translate.lang.stringtable.js
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/webui/js/lang/en/translate.lang.stringtable.js.orig
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0104-WebUI-Add-AssignFunctionAndRoomToHmRFChan0/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI
