Repository jens-maus/RaspberryMatic, pull requests merged in 2021-10, with the labels that each got.

#1432 Fix the loading of openvpn configs
  buildroot-external/overlay/base/etc/init.d/S60openvpn
Labels: :bug: bug-report

#1436 TailScale VPN Settings: reduce help text in network panel by providing a separate help popup window
  buildroot-external/patches/occu/0136-WebUI-Add-Tailscale-VPN.patch
  buildroot-external/patches/occu/0136-WebUI-Add-Tailscale-VPN/occu/WebUI/www/config/cp_network.cgi
Labels: :bulb: enhancement-ideas, 🧠 unstable-snapshot

#1487 Improvement/0144 web UI control for maintenance channel
  buildroot-external/patches/occu/0144-WebUI-ControlForMaintenanceChannel.patch
  buildroot-external/patches/occu/0144-WebUI-ControlForMaintenanceChannel/occu/WebUI/www/rega/esp/controls/maintenance.fn
  buildroot-external/patches/occu/0144-WebUI-ControlForMaintenanceChannel/occu/WebUI/www/rega/esp/controls/maintenance.fn.orig
  buildroot-external/patches/occu/0144-WebUI-ControlForMaintenanceChannel/occu/WebUI/www/rega/esp/datapointconfigurator.fn
  buildroot-external/patches/occu/0144-WebUI-ControlForMaintenanceChannel/occu/WebUI/www/rega/esp/datapointconfigurator.fn.orig
Labels: :bulb: enhancement-ideas, :label: WebUI
