Repository jens-maus/RaspberryMatic, pull requests merged in 2021-08, with the labels that each got.

#1355 #1354 Performance Fix within translate.js
  buildroot-external/patches/occu/0111-WebUI-Fix-Translation-Performance.patch
  buildroot-external/patches/occu/0111-WebUI-Fix-Translation-Performance/occu/WebUI/www/webui/js/lang/translate.js
Labels: :bulb: enhancement-ideas, :label: WebUI

#1369 added new fix 0128 for correcting "Update Access Point"-Label in system control
  buildroot-external/patches/occu/0128-WebUI-Fixing-Label-ControlPanel.patch
  buildroot-external/patches/occu/0128-WebUI-Fixing-Label-ControlPanel/occu/WebUI/www/webui/js/lang/en/translate.lang.extension.js
  buildroot-external/patches/occu/0128-WebUI-Fixing-Label-ControlPanel/occu/WebUI/www/webui/js/lang/en/translate.lang.extension.js.orig
Labels: :bug: bug-report, :seedling: minor, :label: WebUI

#1371 adding new fix 0129 to delete an debuggingoutput by changing a heatgroup
  buildroot-external/patches/occu/0129-WebUI-delete-debuggingoutput.patch
  buildroot-external/patches/occu/0129-WebUI-delete-debuggingoutput/occu/WebUI/www/config/easymodes/etc/hmipChannelConfigDialogs.tcl
  buildroot-external/patches/occu/0129-WebUI-delete-debuggingoutput/occu/WebUI/www/config/easymodes/etc/hmipChannelConfigDialogs.tcl.orig
Labels: :bug: bug-report, :label: WebUI

#1370 adding new fix 0127 for sort the list of device firmware updates
  buildroot-external/patches/occu/0127-WebUI-Sort-FirmwareOverview.patch
  buildroot-external/patches/occu/0127-WebUI-Sort-FirmwareOverview/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0127-WebUI-Sort-FirmwareOverview/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#1385 add patch for #1384
  buildroot-external/overlay/base-raspmatic/bin/checkAddonUpdates.sh
  buildroot-external/overlay/base-raspmatic/etc/crontab.root
  buildroot-external/overlay/base-raspmatic_oci/etc/crontab.root
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage.patch
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/api/methods.conf
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/api/methods.conf.orig
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/api/methods/ccu/getaddonversions.tcl
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/api/methods/ccu/getaddonversions.tcl.orig
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/rega/pages/tabs/startpage.htm
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/rega/pages/tabs/startpage.htm.orig
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/webui/js/lang/de/translate.lang.extension.js
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/webui/js/lang/de/translate.lang.extension.js.orig
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/webui/js/lang/en/translate.lang.extension.js
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/webui/js/lang/en/translate.lang.extension.js.orig
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0131-WebUI-ShowAddonUpdatesOnStartpage/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI
