Repository jens-maus/RaspberryMatic, pull requests merged in 2021-11, with the labels that each got.

#1493 improved Startpage formatting for systemvariables
  buildroot-external/patches/occu/0039-WebUI-Fix-Style-Glitches.patch
  buildroot-external/patches/occu/0039-WebUI-Fix-Style-Glitches/occu/WebUI/www/webui/style.css
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay.patch
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/rega/pages/tabs/startpage.htm
Labels: :bulb: enhancement-ideas, :label: WebUI, 🧠 unstable-snapshot

#1492 add 0145-WebUI-NaturalSorting
  buildroot-external/patches/occu/0145-WebUI-NaturalSorting.patch
  buildroot-external/patches/occu/0145-WebUI-NaturalSorting/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0145-WebUI-NaturalSorting/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#1488 Button zum Ein-/Ausblenden von internen Kanälen
  buildroot-external/patches/occu/0133-WebUI-Fix-InternalIDExposure.patch
  buildroot-external/patches/occu/0133-WebUI-Fix-InternalIDExposure/occu/WebUI/www/rega/esp/functions.fn
  buildroot-external/patches/occu/0133-WebUI-Fix-InternalIDExposure/occu/WebUI/www/rega/esp/functions.fn.orig
  buildroot-external/patches/occu/0133-WebUI-Fix-InternalIDExposure/occu/WebUI/www/rega/pages/tabs/control/devices.htm
  buildroot-external/patches/occu/0133-WebUI-Fix-InternalIDExposure/occu/WebUI/www/rega/pages/tabs/control/devices.htm.orig
  buildroot-external/patches/occu/0133-WebUI-Fix-InternalIDExposure/occu/WebUI/www/rega/pages/tabs/control/hdevichannels.htm
  buildroot-external/patches/occu/0134-WebUI-Add-ShowInternalSysvars.patch
  buildroot-external/patches/occu/0134-WebUI-Add-ShowInternalSysvars/occu/WebUI/www/rega/esp/system.fn
  buildroot-external/patches/occu/0134-WebUI-Add-ShowInternalSysvars/occu/WebUI/www/rega/esp/system.htm
  buildroot-external/patches/occu/0134-WebUI-Add-ShowInternalSysvars/occu/WebUI/www/webui/js/lang/de/translate.lang.js
  buildroot-external/patches/occu/0134-WebUI-Add-ShowInternalSysvars/occu/WebUI/www/webui/js/lang/en/translate.lang.js
Labels: :bulb: enhancement-ideas, :label: WebUI

#1499 0146-WebUI-ImprovedStartpageLayout
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout.patch
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/rega/esp/system.fn
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/rega/esp/system.fn.orig
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/rega/pages/tabs/startpage.htm
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/rega/pages/tabs/startpage.htm.orig
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/webui/js/lang/de/translate.lang.js
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/webui/js/lang/de/translate.lang.js.orig
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/webui/js/lang/en/translate.lang.js
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/webui/js/lang/en/translate.lang.js.orig
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#1500 Fix - 0147 Web UI fix addon uninstall failure handling
  buildroot-external/patches/occu/0147-WebUI-Fix-AddonUninstallFailureHandling.patch
  buildroot-external/patches/occu/0147-WebUI-Fix-AddonUninstallFailureHandling/occu/WebUI/www/config/cp_software.cgi
  buildroot-external/patches/occu/0147-WebUI-Fix-AddonUninstallFailureHandling/occu/WebUI/www/config/cp_software.cgi.orig
  buildroot-external/patches/occu/0147-WebUI-Fix-AddonUninstallFailureHandling/occu/WebUI/www/webui/js/lang/de/translate.lang.extension.js
  buildroot-external/patches/occu/0147-WebUI-Fix-AddonUninstallFailureHandling/occu/WebUI/www/webui/js/lang/de/translate.lang.extension.js.orig
  buildroot-external/patches/occu/0147-WebUI-Fix-AddonUninstallFailureHandling/occu/WebUI/www/webui/js/lang/en/translate.lang.extension.js
  buildroot-external/patches/occu/0147-WebUI-Fix-AddonUninstallFailureHandling/occu/WebUI/www/webui/js/lang/en/translate.lang.extension.js.orig
Labels: :bug: bug-report, :label: WebUI

#1512 0150-WebUI-fix-responsiveControlPage
  buildroot-external/patches/occu/0150-WebUI-Responsive-ControlPage.patch
  buildroot-external/patches/occu/0150-WebUI-Responsive-ControlPage/occu/WebUI/www/config/control_panel.cgi
  buildroot-external/patches/occu/0150-WebUI-Responsive-ControlPage/occu/WebUI/www/config/control_panel.cgi.orig
  buildroot-external/patches/occu/0150-WebUI-Responsive-ControlPage/occu/WebUI/www/webui/style.css
  buildroot-external/patches/occu/0150-WebUI-Responsive-ControlPage/occu/WebUI/www/webui/style.css.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#1528 Improvement/0146_EditSysvarOnStartpage
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout.patch
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/rega/pages/tabs/startpage.htm
Labels: :bulb: enhancement-ideas, :label: WebUI

#1529 0151-WebUI-Add-DeviceRestoreConfigButton
  buildroot-external/patches/occu/0151-WebUI-Add-DeviceRestoreConfigButton.patch
  buildroot-external/patches/occu/0151-WebUI-Add-DeviceRestoreConfigButton/occu/WebUI/www/config/ic_deviceparameters.cgi
  buildroot-external/patches/occu/0151-WebUI-Add-DeviceRestoreConfigButton/occu/WebUI/www/config/ic_deviceparameters.cgi.orig
  buildroot-external/patches/occu/0151-WebUI-Add-DeviceRestoreConfigButton/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0151-WebUI-Add-DeviceRestoreConfigButton/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#1532 Feature/0146-Add link to TimeCP on startpage
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout.patch
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/rega/esp/system.fn
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/rega/esp/system.fn.orig
  buildroot-external/patches/occu/0146-WebUI-ImprovedStartpageLayout/occu/WebUI/www/rega/pages/tabs/startpage.htm
Labels: :bulb: enhancement-ideas, :seedling: minor, :label: WebUI

#1535 Updated to latest generic_raw_uart kernel modules
  buildroot-external/package/generic_raw_uart/generic_raw_uart.hash
  buildroot-external/package/generic_raw_uart/generic_raw_uart.mk
Labels: :bulb: enhancement-ideas, :computer: hardware support

#1542 Revert change in Array.prototype.ex_sortBy and implement fix in Strin…
  buildroot-external/patches/occu/0145-WebUI-NaturalSorting.patch
  buildroot-external/patches/occu/0145-WebUI-NaturalSorting/occu/WebUI/www/webui/webui.js
Labels: :bug: bug-report, :label: WebUI

#1543 Fix for #1536
  buildroot-external/patches/occu/0147-WebUI-Fix-AddonUninstallFailureHandling.patch
  buildroot-external/patches/occu/0147-WebUI-Fix-AddonUninstallFailureHandling/occu/WebUI/www/config/cp_software.cgi
Labels: :bug: bug-report, :label: WebUI

#1544 benutzerdefinierter Systemname #548
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings.patch
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/config/cp_advancedsettings.cgi
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/rega/pages/index.htm
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/rega/pages/index.htm.orig
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/webui/js/lang/de/translate.lang.js
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/webui/js/lang/en/translate.lang.js
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/webui/webui.js
Labels: :bulb: enhancement-ideas, :label: WebUI

#1551 0135 web UI add control panel advanced settings
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings.patch
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/rega/login.htm
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/rega/login.htm.orig
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/rega/logout.htm
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/rega/logout.htm.orig
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/rega/pages/index.htm
Labels: :bulb: enhancement-ideas, :label: WebUI

#1552 Remove img requests spam for Logo, AlarmMsg and ServiceMsg on webserver
  buildroot-external/patches/occu/0153-WebUI-Fix-ImproveImgUpdates.patch
  buildroot-external/patches/occu/0153-WebUI-Fix-ImproveImgUpdates/occu/WebUI/www/ise/htm/header.htm
  buildroot-external/patches/occu/0153-WebUI-Fix-ImproveImgUpdates/occu/WebUI/www/ise/htm/header.htm.orig
  buildroot-external/patches/occu/0153-WebUI-Fix-ImproveImgUpdates/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0153-WebUI-Fix-ImproveImgUpdates/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#1564 fixes for dynamic resizing
  buildroot-external/patches/occu/0154-WebUI-DynamicResizing.patch
  buildroot-external/patches/occu/0154-WebUI-DynamicResizing/occu/WebUI/www/rega/pages/tabs/control/devices.htm
  buildroot-external/patches/occu/0154-WebUI-DynamicResizing/occu/WebUI/www/rega/pages/tabs/control/devices.htm.orig
  buildroot-external/patches/occu/0154-WebUI-DynamicResizing/occu/WebUI/www/rega/pages/tabs/control/functions.htm
  buildroot-external/patches/occu/0154-WebUI-DynamicResizing/occu/WebUI/www/rega/pages/tabs/control/functions.htm.orig
  buildroot-external/patches/occu/0154-WebUI-DynamicResizing/occu/WebUI/www/rega/pages/tabs/control/rooms.htm
  buildroot-external/patches/occu/0154-WebUI-DynamicResizing/occu/WebUI/www/rega/pages/tabs/control/rooms.htm.orig
  buildroot-external/patches/occu/0154-WebUI-DynamicResizing/occu/WebUI/www/webui/style.css
Labels: :bulb: enhancement-ideas, :label: WebUI, 🧠 unstable-snapshot

#1569 fixes 1568
  buildroot-external/patches/occu/0097-WebUI-SetSysvarValueByUser.patch
  buildroot-external/patches/occu/0097-WebUI-SetSysvarValueByUser/occu/WebUI/www/rega/esp/system.fn
Labels: :bug: bug-report, :label: WebUI
