Repository jens-maus/RaspberryMatic, pull requests merged in 2021-02, with the labels that each got.

#1111 add special character handling for strings
  buildroot-external/patches/occu/0097-WebUI-SetSysvarValueByUser.patch
  buildroot-external/patches/occu/0097-WebUI-SetSysvarValueByUser/occu/WebUI/www/rega/pages/tabs/admin/msg/newSysVar.htm
Labels: :bug: bug-report, :label: WebUI

#1132 Support load balancers and overriding image tag
  helm/raspberrymatic/templates/deployment.yaml
  helm/raspberrymatic/templates/service.yaml
  helm/raspberrymatic/values.yaml
Labels: :bug: bug-report, :building_construction: build-environment, :bulb: enhancement-ideas

#1136 Increase WebUi performance in regards to Translation
  buildroot-external/patches/occu/0111-WebUI-Fix-Translation-Performance.patch
  buildroot-external/patches/occu/0111-WebUI-Fix-Translation-Performance/occu/WebUI/www/webui/js/lang/translate.js
  buildroot-external/patches/occu/0111-WebUI-Fix-Translation-Performance/occu/WebUI/www/webui/js/lang/translate.js.orig
  buildroot-external/patches/occu/0111-WebUI-Fix-Translation-Performance/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0111-WebUI-Fix-Translation-Performance/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#1138 display carriersense on startpage
  buildroot-external/overlay/base-raspmatic/bin/updateDCVars.tcl
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay.patch
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/rega/pages/tabs/startpage.htm
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/webui/webui.js
Labels: :bulb: enhancement-ideas, :label: WebUI

#1139 0112-WebUI-Fix-Faulty-Html-in-Temperatur-Lowering
  buildroot-external/patches/occu/0112-WebUI-Fix-Typo-hmipChannelConfigDialogs.patch
  buildroot-external/patches/occu/0112-WebUI-Fix-Typo-hmipChannelConfigDialogs/occu/WebUI/www/config/easymodes/etc/hmipChannelConfigDialogs.tcl
  buildroot-external/patches/occu/0112-WebUI-Fix-Typo-hmipChannelConfigDialogs/occu/WebUI/www/config/easymodes/etc/hmipChannelConfigDialogs.tcl.orig
Labels: :bug: bug-report, :label: WebUI

#1142 0113 - Separate Fixem from 0112 in 2 Patches
  buildroot-external/patches/occu/0113-WebUI-Fix-FloatUsage-ProofAndSetValue.patch
  buildroot-external/patches/occu/0113-WebUI-Fix-FloatUsage-ProofAndSetValue/occu/WebUI/www/config/easymodes/etc/hmipChannelConfigDialogs.tcl
  buildroot-external/patches/occu/0113-WebUI-Fix-FloatUsage-ProofAndSetValue/occu/WebUI/www/config/easymodes/etc/hmipChannelConfigDialogs.tcl.orig
Labels: :bug: bug-report, :label: WebUI

#1144 0114-WebUI-Improvement-Keyboard-Scroll-Control-After-Page-Change
  buildroot-external/patches/occu/0114-WebUI-Keyboard-Scroll-Control-After-Page-Change.patch
  buildroot-external/patches/occu/0114-WebUI-Keyboard-Scroll-Control-After-Page-Change/occu/WebUI/www/webui/style.css
  buildroot-external/patches/occu/0114-WebUI-Keyboard-Scroll-Control-After-Page-Change/occu/WebUI/www/webui/style.css.orig
  buildroot-external/patches/occu/0114-WebUI-Keyboard-Scroll-Control-After-Page-Change/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0114-WebUI-Keyboard-Scroll-Control-After-Page-Change/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#1147 add 0115-WebUI-GatewayConfiguration-DevicesListSortByName
  buildroot-external/patches/occu/0115-WebUI-GatewayConfiguration-DevicesListSortByName.patch
  buildroot-external/patches/occu/0115-WebUI-GatewayConfiguration-DevicesListSortByName/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0115-WebUI-GatewayConfiguration-DevicesListSortByName/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas

#1148 Fix path for backups and restore in HA
  buildroot-external/overlay/base-raspmatic_oci/etc/init.d/S00DataMount
  buildroot-external/overlay/base/etc/init.d/S06InitSystem
Labels: :bug: bug-report

#1151 0111 Compatibility with older Browsers
  buildroot-external/patches/occu/0111-WebUI-Fix-Translation-Performance.patch
  buildroot-external/patches/occu/0111-WebUI-Fix-Translation-Performance/occu/WebUI/www/webui/js/lang/translate.js
Labels: :bug: bug-report, 🧠 unstable-snapshot

#1153 0116 Fix Header Cell in Chrome 88
  buildroot-external/patches/occu/0116-WebUI-Chrome-88-Sort-Header-Cell.patch
  buildroot-external/patches/occu/0116-WebUI-Chrome-88-Sort-Header-Cell/occu/WebUI/www/webui/style.css
  buildroot-external/patches/occu/0116-WebUI-Chrome-88-Sort-Header-Cell/occu/WebUI/www/webui/style.css.orig
Labels: :bug: bug-report, :label: WebUI, :seedling: minor

#1154 0113 Fix rounding in ecoLTComfort Functionallity
  buildroot-external/patches/occu/0117-WebUI-Fix-Rounding-within-Temperatur-Comfort-Lowering.patch
  buildroot-external/patches/occu/0117-WebUI-Fix-Rounding-within-Temperatur-Comfort-Lowering/occu/WebUI/www/config/easymodes/js/CC.js
  buildroot-external/patches/occu/0117-WebUI-Fix-Rounding-within-Temperatur-Comfort-Lowering/occu/WebUI/www/config/easymodes/js/CC.js.orig
Labels: :bug: bug-report, :label: WebUI
