Repository jens-maus/RaspberryMatic, pull requests merged in 2021-01, with the labels that each got.

#1054 fixes #1052
  buildroot-external/patches/occu/0107-WebUI-Fix-rgbw.fn-CheckMetaDataIsNotNULL.patch
  buildroot-external/patches/occu/0107-WebUI-Fix-rgbw.fn-CheckMetaDataIsNotNULL/occu/WebUI/www/rega/esp/controls/rgbw.fn
  buildroot-external/patches/occu/0107-WebUI-Fix-rgbw.fn-CheckMetaDataIsNotNULL/occu/WebUI/www/rega/esp/controls/rgbw.fn.orig
Labels: :bug: bug-report, :label: WebUI

#1048 add 0106-WebUI-Improvement-TreatOPERATOR_NONEasOPERATOR_OR
  buildroot-external/patches/occu/0106-WebUI-Improvement-TreatOPERATOR_NONEasOPERATOR_OR.patch
  buildroot-external/patches/occu/0106-WebUI-Improvement-TreatOPERATOR_NONEasOPERATOR_OR/occu/WebUI/www/rega/esp/rule.inc
  buildroot-external/patches/occu/0106-WebUI-Improvement-TreatOPERATOR_NONEasOPERATOR_OR/occu/WebUI/www/rega/esp/rule.inc.orig
Labels: :bug: bug-report, :label: WebUI

#1056 [WIP] Initial support for containers
  .github/workflows/ci.yml
  .gitignore
  Makefile
  buildroot-external/board/oci/Dockerfile
  buildroot-external/board/oci/post-build.sh
  buildroot-external/board/oci/post-image.sh
  buildroot-external/configs/raspmatic_oci_amd64_defconfig
  buildroot-external/configs/raspmatic_oci_arm64_defconfig
  buildroot-external/configs/raspmatic_oci_arm_defconfig
  buildroot-external/overlay/RFD/etc/init.d/S60multimacd
  buildroot-external/overlay/RFD/etc/init.d/S61rfd
  buildroot-external/overlay/WebUI/etc/init.d/S50lighttpd
  buildroot-external/overlay/WebUI/etc/init.d/S70ReGaHss
  buildroot-external/overlay/base-raspmatic_oci/etc/fstab
  buildroot-external/overlay/base-raspmatic_oci/etc/inittab
  buildroot-external/overlay/base-raspmatic_oci/etc/monitrc
  buildroot-external/overlay/base-raspmatic_oci/etc/network/if-up.d/eQ3StartNetwork
  buildroot-external/overlay/base-raspmatic_oci/etc/network/interfaces
  buildroot-external/overlay/base-raspmatic_oci/sbin/reboot
  buildroot-external/overlay/base/etc/init.d/S01InitHost
  buildroot-external/overlay/base/etc/init.d/S02InitRTC
  buildroot-external/overlay/base/etc/init.d/S04CheckFactoryReset
  buildroot-external/overlay/base/etc/init.d/S06InitSystem
  buildroot-external/overlay/base/etc/init.d/S07logging
  buildroot-external/overlay/base/etc/init.d/S11InitRFHardware
  buildroot-external/overlay/base/etc/init.d/S49hs485d
  buildroot-external/overlay/base/etc/init.d/S60hs485d
  buildroot-external/overlay/base/etc/init.d/S62HMServer
  buildroot-external/package/eq3configd/rootfs-overlay/etc/init.d/S50eq3configd
  buildroot-external/package/multilib32/external/configs/multilib32_i686_defconfig
  buildroot-external/package/multilib32/external/configs/multilib32_rpi3_defconfig
  buildroot-external/package/multilib32/external/configs/multilib32_rpi4_defconfig
  buildroot-external/package/ssdpd/rootfs-overlay/etc/init.d/S50ssdpd
  release/updatepkg/raspmatic_oci_amd64/EULA.de
  release/updatepkg/raspmatic_oci_amd64/EULA.de_nightly
  release/updatepkg/raspmatic_oci_amd64/EULA.en
  release/updatepkg/raspmatic_oci_amd64/EULA.en_nightly
  release/updatepkg/raspmatic_oci_amd64/files-images.txt
  release/updatepkg/raspmatic_oci_amd64/files-package.txt
  release/updatepkg/raspmatic_oci_amd64/update_script
  release/updatepkg/raspmatic_oci_arm/EULA.de
  release/updatepkg/raspmatic_oci_arm/EULA.de_nightly
  release/updatepkg/raspmatic_oci_arm/EULA.en
  release/updatepkg/raspmatic_oci_arm/EULA.en_nightly
  release/updatepkg/raspmatic_oci_arm/files-images.txt
  release/updatepkg/raspmatic_oci_arm/files-package.txt
  release/updatepkg/raspmatic_oci_arm/update_script
  release/updatepkg/raspmatic_oci_arm64/EULA.de
  release/updatepkg/raspmatic_oci_arm64/EULA.de_nightly
  release/updatepkg/raspmatic_oci_arm64/EULA.en
  release/updatepkg/raspmatic_oci_arm64/EULA.en_nightly
  release/updatepkg/raspmatic_oci_arm64/files-images.txt
  release/updatepkg/raspmatic_oci_arm64/files-package.txt
  release/updatepkg/raspmatic_oci_arm64/update_script
Labels: :bulb: enhancement-ideas, :computer: hardware support

#1065 remove isVisible check and keep changes as small as possible
  buildroot-external/patches/occu/0108-WebUI-ShowInvisibleHmIPChannelsInPrograms.patch
  buildroot-external/patches/occu/0108-WebUI-ShowInvisibleHmIPChannelsInPrograms/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0108-WebUI-ShowInvisibleHmIPChannelsInPrograms/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#1074 add patch 0110-WebUI-DutyCycleBootstrapProgressbar
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay.patch
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/rega/pages/index.htm
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/rega/pages/index.htm.orig
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/rega/pages/tabs/startpage.htm
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/webui/css/extern/bootstrap.min.css.map
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/webui/css/extern/bootstrap.min.css.map.orig
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/webui/css/extern/hmBootstrap.css
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/webui/css/extern/hmBootstrap.css.orig
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/webui/js/extern/bootstrap.min.js
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/webui/js/extern/bootstrap.min.js.orig
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/webui/style.css
  buildroot-external/patches/occu/0057-WebUI-ImprovedDutyCycleDisplay/occu/WebUI/www/webui/webui.js
Labels: :bulb: enhancement-ideas, :label: WebUI

#1070 add 0109-WebUI-Fix-SystemLanguageDefaultNames WebUI patch
  buildroot-external/overlay/base-raspmatic/bin/triggerAlarm.tcl
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames.patch
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/bin/hm_autoconf
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/bin/hm_autoconf.orig
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/api/methods.conf
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/api/methods.conf.orig
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/api/methods/ccu/getsystemlanguage.tcl
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/api/methods/ccu/getsystemlanguage.tcl.orig
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/api/methods/ccu/setsystemlanguage.tcl
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/api/methods/ccu/setsystemlanguage.tcl.orig
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/rega/pages/msg/systemLanguageConfig.htm
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/rega/pages/msg/systemLanguageConfig.htm.orig
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/rega/pages/tabs/admin/userAdministration.htm
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/rega/pages/tabs/admin/userAdministration.htm.orig
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/webui/js/lang/de/translate.lang.js
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/webui/js/lang/de/translate.lang.js.orig
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/webui/js/lang/en/translate.lang.js
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/webui/js/lang/en/translate.lang.js.orig
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0109-WebUI-Fix-SystemLanguageDefaultNames/occu/WebUI/www/webui/webui.js.orig
Labels: :bug: bug-report, :label: WebUI

#1105 fix #1104 - circumvent docker builx limitation
  .github/workflows/ci.yml
Labels: :bug: bug-report, :building_construction: build-environment
