Repository jens-maus/RaspberryMatic, pull requests merged in 2023-02, with the labels that each got.

#2222 0177-WebUI-Fix-MissingHmIPButtonActionTranslations.patch
  buildroot-external/patches/occu/0143-WebUI-Fix-Translation.patch
  buildroot-external/patches/occu/0143-WebUI-Fix-Translation/occu/WebUI/www/config/stringtable_de.txt
  buildroot-external/patches/occu/0143-WebUI-Fix-Translation/occu/WebUI/www/config/stringtable_de.txt.orig
Labels: :bug: bug-report, :label: WebUI

#2228 Update ha-proxy.js
  buildroot-external/overlay/base-raspmatic_oci/bin/ha-proxy.js
Labels: platform/ha-addon

#2229 further CloudMatic start/stop/remove/set optimization
  buildroot-external/package/cloudmatic/S97CloudMatic
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings.patch
  buildroot-external/patches/occu/0135-WebUI-Add-ControlPanel-AdvancedSettings/occu/WebUI/www/config/cp_advancedsettings.cgi
Labels: :bulb: enhancement-ideas

#2232 new patch 0177-WebUI-Fix-ProgrammConditionText-Binary
  buildroot-external/patches/occu/0077-WebUI-NegateCondition.patch
  buildroot-external/patches/occu/0077-WebUI-NegateCondition/occu/WebUI/www/rega/esp/programs.fn
Labels: :bug: bug-report, :bulb: enhancement-ideas, :label: WebUI
