Repository jens-maus/RaspberryMatic, pull requests merged in 2023-11, with the labels that each got.

#2515 Add port 2110 for contronics ExecEngine
  home-assistant-addon-dev/config.yaml
  home-assistant-addon/config.yaml
Labels: :bulb: enhancement-ideas

#2516 Dev patch0182 fix1513
  buildroot-external/patches/occu/0182-WebUI-Fix-DimmerControl-InitButtonsWithChannelState.patch
  buildroot-external/patches/occu/0182-WebUI-Fix-DimmerControl-InitButtonsWithChannelState/occu/WebUI/www/rega/esp/controls/dimmer.fn
  buildroot-external/patches/occu/0182-WebUI-Fix-DimmerControl-InitButtonsWithChannelState/occu/WebUI/www/rega/esp/controls/dimmer.fn.orig
  buildroot-external/patches/occu/0182-WebUI-Fix-DimmerControl-RemoveButtonRefreshDelay.patch
  buildroot-external/patches/occu/0182-WebUI-Fix-DimmerControl-RemoveButtonRefreshDelay/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0182-WebUI-Fix-DimmerControl-RemoveButtonRefreshDelay/occu/WebUI/www/webui/webui.js.orig
Labels: :bug: bug-report

#2530 Fallback to original text search when regex is invalid
  buildroot-external/patches/occu/0170-WebUI-RegexSearchInDeviceLists.patch
  buildroot-external/patches/occu/0170-WebUI-RegexSearchInDeviceLists/occu/WebUI/www/webui/webui.js
Labels: :bug: bug-report, :label: WebUI
