Repository jens-maus/RaspberryMatic, pull requests merged in 2024-11, with the labels that each got.

#2886 0187-WebUI-Fix-GroupEditingIfDevicesInInbox
  buildroot-external/patches/occu/0187-WebUI-Fix-GroupEditingIfDevicesInInbox.patch
  buildroot-external/patches/occu/0187-WebUI-Fix-GroupEditingIfDevicesInInbox/occu/HMserver/opt/HMServer/pages/GroupEditPage.ftl
  buildroot-external/patches/occu/0187-WebUI-Fix-GroupEditingIfDevicesInInbox/occu/HMserver/opt/HMServer/pages/GroupEditPage.ftl.orig
  buildroot-external/patches/occu/0187-WebUI-Fix-GroupEditingIfDevicesInInbox/occu/WebUI/www/webui/js/common/viewmodels.js
  buildroot-external/patches/occu/0187-WebUI-Fix-GroupEditingIfDevicesInInbox/occu/WebUI/www/webui/js/common/viewmodels.js.orig
Labels: :bug: bug-report, :label: WebUI

#2889 0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL.patch
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER/MOTIONDETECTOR_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER/MOTIONDETECTOR_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER/MOTIONDETECTOR_VIRTUAL_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER/MOTIONDETECTOR_VIRTUAL_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER/PRESENCEDETECTOR_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER/PRESENCEDETECTOR_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER/WATER_DETECTION_TRANSMITTER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/ACOUSTIC_SIGNAL_VIRTUAL_RECEIVER/WATER_DETECTION_TRANSMITTER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/DIMMER_VIRTUAL_RECEIVER/MOTIONDETECTOR_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/DIMMER_VIRTUAL_RECEIVER/MOTIONDETECTOR_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/DIMMER_VIRTUAL_RECEIVER/MOTIONDETECTOR_VIRTUAL_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/DIMMER_VIRTUAL_RECEIVER/MOTIONDETECTOR_VIRTUAL_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/DIMMER_VIRTUAL_RECEIVER/PRESENCEDETECTOR_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/DIMMER_VIRTUAL_RECEIVER/PRESENCEDETECTOR_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/DIMMER_VIRTUAL_RECEIVER/WATER_DETECTION_TRANSMITTER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/DIMMER_VIRTUAL_RECEIVER/WATER_DETECTION_TRANSMITTER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_ACTOR/MOTIONDETECTOR_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_ACTOR/MOTIONDETECTOR_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_ACTOR/MOTIONDETECTOR_VIRTUAL_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_ACTOR/MOTIONDETECTOR_VIRTUAL_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_ACTOR/PRESENCEDETECTOR_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_ACTOR/PRESENCEDETECTOR_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_ACTOR/WATER_DETECTION_TRANSMITTER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_ACTOR/WATER_DETECTION_TRANSMITTER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_LIGHT_RECEIVER_PWM/MOTIONDETECTOR_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_LIGHT_RECEIVER_PWM/MOTIONDETECTOR_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_LIGHT_RECEIVER_PWM/MOTIONDETECTOR_VIRTUAL_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_LIGHT_RECEIVER_PWM/MOTIONDETECTOR_VIRTUAL_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_LIGHT_RECEIVER_PWM/PRESENCEDETECTOR_TRANSCEIVER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_LIGHT_RECEIVER_PWM/PRESENCEDETECTOR_TRANSCEIVER.tcl.orig
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_LIGHT_RECEIVER_PWM/WATER_DETECTION_TRANSMITTER.tcl
  buildroot-external/patches/occu/0188-WebUI-Fix-MissingEasymodeSHORT_ON_MIN_LEVEL/occu/WebUI/www/config/easymodes/UNIVERSAL_LIGHT_RECEIVER_PWM/WATER_DETECTION_TRANSMITTER.tcl.orig
Labels: :bug: bug-report, :label: WebUI

#2892 0189-WebUI-Fix-ControlHmIP-MOD-RC8
  buildroot-external/patches/occu/0189-WebUI-Fix-ControlHmIP-MOD-RC8.patch
  buildroot-external/patches/occu/0189-WebUI-Fix-ControlHmIP-MOD-RC8/occu/WebUI/www/rega/esp/datapointconfigurator.fn
  buildroot-external/patches/occu/0189-WebUI-Fix-ControlHmIP-MOD-RC8/occu/WebUI/www/rega/esp/datapointconfigurator.fn.orig
Labels: :bug: bug-report, :label: WebUI

#2902 0190-WebUI-Fix-AddMissingExtendedChannelDescriptions
  buildroot-external/patches/occu/0190-WebUI-Fix-AddMissingExtendedChannelDescriptions.patch
  buildroot-external/patches/occu/0190-WebUI-Fix-AddMissingExtendedChannelDescriptions/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0190-WebUI-Fix-AddMissingExtendedChannelDescriptions/occu/WebUI/www/webui/webui.js.orig
Labels: :bug: bug-report, :label: WebUI

#2904 0191-WebUI-Add-NaturalSortOrderInControlTabs
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrderInControlTabs.patch
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrderInControlTabs/occu/WebUI/www/rega/pages/tabs/control/hdevichannels.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrderInControlTabs/occu/WebUI/www/rega/pages/tabs/control/hdevichannels.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrderInControlTabs/occu/WebUI/www/rega/pages/tabs/control/hfuncchannels.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrderInControlTabs/occu/WebUI/www/rega/pages/tabs/control/hfuncchannels.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrderInControlTabs/occu/WebUI/www/rega/pages/tabs/control/hroomchannels.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrderInControlTabs/occu/WebUI/www/rega/pages/tabs/control/hroomchannels.htm.orig
Labels: :bulb: enhancement-ideas, :label: WebUI

#2906 0191-WebUI-Add-NaturalSortOrder
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder.patch
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/systemvars.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/systemvars.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/userAdministration.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/userAdministration.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/views/functions.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/views/functions.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/views/newdevices.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/views/newdevices.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/views/programlist.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/views/programlist.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/views/rooms.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/admin/views/rooms.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/devices.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/devices.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/functions.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/functions.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/hdevichannels.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/hdevichannels.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/hfuncchannels.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/hfuncchannels.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/hroomchannels.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/hroomchannels.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/programs.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/programs.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/rooms.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/rooms.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/sysvars.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/control/sysvars.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/user/favOverview.htm
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrder/occu/WebUI/www/rega/pages/tabs/user/favOverview.htm.orig
  buildroot-external/patches/occu/0191-WebUI-Add-NaturalSortOrderInControlTabs.patch
Labels: :bulb: enhancement-ideas, :label: WebUI

#2912 fix_0190-WebUI-Fix-AddMissingExtendedChannelDescriptions
  buildroot-external/patches/occu/0190-WebUI-Fix-AddMissingExtendedChannelDescriptions.patch
  buildroot-external/patches/occu/0190-WebUI-Fix-AddMissingExtendedChannelDescriptions/occu/WebUI/www/webui/webui.js
Labels: :bug: bug-report, :label: WebUI

#2919 0193-WebUI-EnhancedTRVSettingsPage
  buildroot-external/package/occu/occu.mk
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage.patch
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/MASTER_LANG/HEATINGTHERMOSTATE_2ND_GEN.js
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/MASTER_LANG/HEATINGTHERMOSTATE_2ND_GEN.js.orig
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/etc/hmipChannelConfigDialogs.tcl
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/etc/hmipChannelConfigDialogs.tcl.orig
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv-b1_1_master.tcl
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv-b1_1_master.tcl.orig
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv-b_1_master.tcl
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv-b_1_master.tcl.orig
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv-c-2_1_master.tcl
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv-c-2_1_master.tcl.orig
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv-c_1_master.tcl
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv-c_1_master.tcl.orig
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv-cl_1_master.tcl
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv-cl_1_master.tcl.orig
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv_1_master.tcl
  buildroot-external/patches/occu/0193-WebUI-EnhancedTRVSettingsPage/occu/WebUI/www/config/easymodes/hmip/hmip-etrv_1_master.tcl.orig
Labels: :bulb: enhancement-ideas

#2922 0194-WebUI-Add-MissingChannelDescriptions
  buildroot-external/patches/occu/0194-WebUI-Add-MissingChannelDescriptions.patch
  buildroot-external/patches/occu/0194-WebUI-Add-MissingChannelDescriptions/occu/WebUI/www/webui/js/lang/de/translate.lang.channelDescription.js
  buildroot-external/patches/occu/0194-WebUI-Add-MissingChannelDescriptions/occu/WebUI/www/webui/js/lang/de/translate.lang.channelDescription.js.orig
  buildroot-external/patches/occu/0194-WebUI-Add-MissingChannelDescriptions/occu/WebUI/www/webui/js/lang/en/translate.lang.channelDescription.js
  buildroot-external/patches/occu/0194-WebUI-Add-MissingChannelDescriptions/occu/WebUI/www/webui/js/lang/en/translate.lang.channelDescription.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI
