Repository jens-maus/RaspberryMatic, pull requests merged in 2024-01, with the labels that each got.

#2589 optimized / reworked 0130-WebUI-Fix-ChannelSysVarPrefix.patch
  buildroot-external/patches/occu/0130-WebUI-Fix-ChannelSysVarPrefix.patch
  buildroot-external/patches/occu/0130-WebUI-Fix-ChannelSysVarPrefix/occu/WebUI/www/rega/esp/functions.fn
Labels: :bug: bug-report, :label: WebUI

#2506 WIP: Raspberry Pi 5 support
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  buildroot-external/board/rpi5/boot.cmd
  buildroot-external/board/rpi5/cmdline.txt
  buildroot-external/board/rpi5/config.txt
  buildroot-external/board/rpi5/genimage.cfg
  buildroot-external/board/rpi5/kernel-patches
  buildroot-external/board/rpi5/kernel.config
  buildroot-external/board/rpi5/post-build.sh
  buildroot-external/board/rpi5/post-image.sh
  buildroot-external/board/rpi5/post-release.sh
  buildroot-external/board/rpi5/uboot-patches/0001-rpi-Use-CONFIG_OF_BOARD-instead-of-CONFIG_EMBED.patch
  buildroot-external/board/rpi5/uboot-patches/0003-Revert-nvme-Correct-the-prps-per-page-calculation-me.patch
  buildroot-external/board/rpi5/uboot-patches/0004-usb-xhci-brcm-Make-driver-compatible-with-downstream.patch
  buildroot-external/board/rpi5/uboot-patches/0005-nvme-improve-readability-of-nvme_setup_prps.patch
  buildroot-external/board/rpi5/uboot-patches/0006-nvme-Use-pointer-for-CPU-addressed-buffers.patch
  buildroot-external/board/rpi5/uboot-patches/0007-nvme-translate-virtual-addresses-into-the-bus-s-addr.patch
  buildroot-external/board/rpi5/uboot-patches/0008-Revert-pci-Check-region-ranges-are-addressable.patch
  buildroot-external/board/rpi5/uboot.config
  buildroot-external/configs/raspmatic_rpi5.config
  buildroot-external/overlay/base/etc/init.d/S01InitHost
  buildroot-external/package/multilib32/external/configs/multilib32_arm_a76.config
  buildroot-external/package/recovery-system/external/board/rpi5/post-build.sh
  buildroot-external/package/recovery-system/external/configs/recovery_rpi5.config
  buildroot-external/package/recovery-system/external/overlay/base/etc/init.d/S01InitHost
  buildroot-external/package/rpi-eeprom/Config.in
  buildroot-external/package/rpi-eeprom/rpi-eeprom.hash
  buildroot-external/package/rpi-eeprom/rpi-eeprom.mk
  buildroot-external/patches/uboot/uboot.hash
  release/rpi-imager-dev.json
  release/rpi-imager-update.sh
  release/updatepkg/raspmatic_rpi5
Labels: :bulb: enhancement-ideas, :computer: hardware support, platform/raspberrypi

#2599 0184-WebUI-Fix-EM8LockedChannelBehaviour
  buildroot-external/patches/occu/0184-WebUI-Fix-EM8LockedChannelBehviour.patch
  buildroot-external/patches/occu/0184-WebUI-Fix-EM8LockedChannelBehviour/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0184-WebUI-Fix-EM8LockedChannelBehviour/occu/WebUI/www/webui/webui.js.orig
Labels: :bug: bug-report, :label: WebUI

#2627 add generic-aarch64 platform for ARM-based virtual appliances
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
  buildroot-external/board/generic-aarch64/genimage.cfg
  buildroot-external/board/generic-aarch64/grub.cfg
  buildroot-external/board/generic-aarch64/kernel.config
  buildroot-external/board/generic-aarch64/post-build.sh
  buildroot-external/board/generic-aarch64/post-image.sh
  buildroot-external/board/generic-aarch64/post-release.sh
  buildroot-external/configs/raspmatic_generic-aarch64.config
  buildroot-external/overlay/base/etc/init.d/S01InitHost
  buildroot-external/overlay/base/etc/init.d/S02InitRTC
  buildroot-external/overlay/base/etc/init.d/S04CheckFactoryReset
  buildroot-external/package/recovery-system/external/board/generic-aarch64/post-build.sh
  buildroot-external/package/recovery-system/external/configs/recovery_generic-aarch64.config
  buildroot-external/package/recovery-system/external/overlay/base/etc/init.d/S01InitHost
  buildroot-external/package/recovery-system/external/overlay/base/etc/init.d/S02InitRTC
  release/updatepkg/raspmatic_generic-aarch64
  scripts/update-kernel-upstream.sh
Labels: :bulb: enhancement-ideas, :computer: hardware support

#2532 0183-WebUI-ImprovedFirmwareupdateDialog
  buildroot-external/patches/occu/0183-WebUI-ImprovedFirmwareupdateDialog.patch
  buildroot-external/patches/occu/0183-WebUI-ImprovedFirmwareupdateDialog/occu/WebUI/www/webui/js/lang/de/translate.lang.extension.js
  buildroot-external/patches/occu/0183-WebUI-ImprovedFirmwareupdateDialog/occu/WebUI/www/webui/js/lang/de/translate.lang.extension.js.orig
  buildroot-external/patches/occu/0183-WebUI-ImprovedFirmwareupdateDialog/occu/WebUI/www/webui/js/lang/en/translate.lang.extension.js
  buildroot-external/patches/occu/0183-WebUI-ImprovedFirmwareupdateDialog/occu/WebUI/www/webui/js/lang/en/translate.lang.extension.js.orig
  buildroot-external/patches/occu/0183-WebUI-ImprovedFirmwareupdateDialog/occu/WebUI/www/webui/webui.js
  buildroot-external/patches/occu/0183-WebUI-ImprovedFirmwareupdateDialog/occu/WebUI/www/webui/webui.js.orig
Labels: :bulb: enhancement-ideas, :label: WebUI
